body{
	font-family: 'Dosis', sans-serif;
	background-color: #3e2b2d;
	color: #f4f4f4;
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, p{
	margin: 0px;
	margin-bottom: 10px;
}

#maincontainer{
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

a{
	color: lime;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.admintable{
	border-collapse: collapse;
	width: 100%;
}

.admintable td, .admintable th {
  border: 1px solid #ddd;
  padding: 8px;
}


input{
	box-sizing: border-box;
	padding: 10px;
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

textarea{
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: 128px;
	margin-bottom: 10px;
}

.alertbox{
	border: 1px dashed white;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}